<form class="category-form shadow" action="/addCategory" method="post">

    <input
      class="category-input"
      type="text"
      name="categoryName"
      id="categoryName"
    />
    <% if (locals.errors) { %>
      <% const caterror = errors.find(error=>error.path == 'categoryName') %>
      <% console.log(caterror) %>
       <small class="error-message"><%-caterror.msg%></small>
    <% } %>


  <button class="button category-submit" type="submit">Add Category</button>
</form>

<% if (locals.categoriesResult) { %> <% categoriesResult.forEach(element => { %>
<% if (locals.selectedCategory && selectedCategory == element.id) { %>
<div class="category-link-container-selected">
  <a class="category-link-selected" href="/category/<%= element.id %>"
    ><%= element.name %></a
  >
</div>
<% } else { %>
<div class="category-link-container">
  <a class="category-link" href="/category/<%= element.id %>"
    ><%= element.name %></a
  >
</div>

<% } %> <% }) %> <% } %>
