<!DOCTYPE html>
<html lang="en">
    <%- include('fragments/head')  %>
<body>
    <%- include('fragments/header')  %>
    <%- include('fragments/aside')  %>
    <%- include('fragments/main')  %>
    <%- include('fragments/footer')  %>
</body>
</html>