<!DOCTYPE html>
<html lang="en">
  <%- include('fragments/head') %>
  <body>
      <div class="header"><%- include('fragments/header') %></div>
      <div class="aside"><%- include('fragments/aside') %></div>
      <div class="main"><%- include('fragments/main') %></div>
      <div class="footer"><%- include('fragments/footer') %></div>
  </body>
</html>
