<!DOCTYPE html>
<html lang="en">
    <%- include('fragments/head')  %>
<body>
    <div><%- include('fragments/header')  %></div>
    <div><%- include('fragments/aside')  %></div>
    <div><%- include('fragments/main')  %></div>
    <div><%- include('fragments/footer')  %></div>
</body>
</html>