form(class="item-card-container shadow" action="/saveItem" method="post")
    input(type="number" id="id" name="itemId" value=`${item?item.id : ''}` style="display:none")
    label(for="name") Item Name 
    input(type="text" id="name" name="itemName" value=`${item ? item.name : ''}`)
    label(for="make") Item Make 
    input(type="text" id="make" name="itemMake" value=`${item ? item.make : ''}`)
    label(for="price") Price 
    input(type="number" id="price" name="itemPrice" value=`${item ? item.price : ''}`)
    label(for="quantity") Quantity 
    input(type="text" id="quantity" name="itemQuantity" value=`${item ? item.quantity : ''}`)
    button(type="submit") Save
    -console.log("cancel link " + locals.cancelLink)
    a(href=`${locals.cancelLink ? cancelLink : ''}`) cancel
    //- button(type="cancel" onclick="history.back()") Cancel 